In [55]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd
from dash.dependencies import Input, Output
import plotly.express as px

In [56]:
# Dash initialisation
app_fifa_dash = dash.Dash(__name__)

In [57]:
# Load data
group_stats_path = '/Users/vishalsehgal/Documents/Masters/Data Visualisation/DVProject/Data/group_stats.csv'
team_data_file_path = '/Users/vishalsehgal/Documents/Masters/Data Visualisation/DVProject/Data/team_data.csv'
df_group_stats = pd.read_csv(group_stats_path)
df_team_data = pd.read_csv(team_data_file_path)

In [58]:
# Removing the first column from df_group_stats
df_group_stats = df_group_stats.iloc[:, 1:]
df_group_stats.head()

,group,rank,team,matches_played,wins,draws,losses,goals_scored,goals_against,goal_difference,points,expected_goal_scored,exp_goal_conceded,exp_goal_difference,exp_goal_difference_per_90
0,1,1,Netherlands,3,2,1,0,5,1,4,7,2.4,2.7,-0.3,-0.11
1,1,2,Senegal,3,2,0,1,5,4,1,6,3.8,2.5,1.3,0.43
2,1,3,Ecuador,3,1,1,1,4,3,1,4,3.7,2.6,1.2,0.39
3,1,4,Qatar,3,0,0,3,1,7,-6,0,1.4,3.5,-2.1,-0.71
4,2,1,England,3,2,1,0,9,2,7,7,5.2,2.3,2.9,0.97

In [59]:
df_team_data.head()

,team,players_used,avg_age,possession,games,games_starts,minutes,minutes_90s,goals,assists,...,fouls,fouled,offsides,pens_won,pens_conceded,own_goals,ball_recoveries,aerials_won,aerials_lost,aerials_won_pct
0,Argentina,24,28.4,57.4,7,77,690,7.7,15,8,...,100,115,23,5,2,1,357,83,90,48.0
1,Australia,20,28.7,37.8,4,44,360,4.0,3,3,...,52,34,1,0,0,0,200,72,72,50.0
2,Belgium,20,30.6,57.0,3,33,270,3.0,1,1,...,30,35,3,0,1,0,132,33,28,54.1
3,Brazil,26,28.5,56.2,5,55,480,5.3,8,6,...,63,74,8,1,0,0,271,43,56,43.4
4,Cameroon,22,28.0,41.7,3,33,270,3.0,4,4,...,32,38,2,0,0,0,142,42,36,53.8

In [60]:
# connect df using team column
df_merged = pd.merge(df_group_stats, df_team_data, on='team', how='inner')

# Display the first few rows of the merged DataFrame to check
df_merged

,group,rank,team,matches_played,wins,draws,losses,goals_scored,goals_against,goal_difference,...,fouls,fouled,offsides,pens_won,pens_conceded,own_goals,ball_recoveries,aerials_won,aerials_lost,aerials_won_pct
0,1,1,Netherlands,3,2,1,0,5,1,4,...,87,50,8,0,1,0,241,79,70,53.0
1,1,2,Senegal,3,2,0,1,5,4,1,...,48,57,8,1,0,0,192,72,63,53.3
2,1,3,Ecuador,3,1,1,1,4,3,1,...,50,37,8,1,1,0,135,50,49,50.5
3,1,4,Qatar,3,0,0,3,1,7,-6,...,31,45,7,0,1,0,138,36,38,48.6
4,2,1,England,3,2,1,0,9,2,7,...,53,65,5,2,1,0,227,60,66,47.6
5,2,2,United States,3,1,2,0,2,1,1,...,45,40,5,0,1,0,212,53,53,50.0
6,2,4,Wales,3,0,1,2,1,6,-5,...,35,33,4,1,0,0,147,42,41,50.6
7,3,1,Argentina,3,2,0,1,5,2,3,...,100,115,23,5,2,1,357,83,90,48.0
8,3,2,Poland,3,1,1,1,2,2,0,...,47,47,1,1,2,0,164,51,60,45.9
9,3,3,Mexico,3,1,1,1,2,3,-1,...,51,48,13,0,1,0,151,48,51,48.5
10,3,4,Saudi Arabia,3,1,0,2,3,5,-2,...,56,38,3,1,1,0,132,45,49,47.9
11,4,1,France,3,2,0,1,6,3,3,...,69,85,16,1,4,0,364,106,78,57.6
12,4,2,Australia,3,2,0,1,3,4,-1,...,52,34,1,0,0,0,200,72,72,50.0
13,4,3,Tunisia,3,1,1,1,1,1,0,...,40,28,7,0,0,0,170,48,57,45.7
14,4,4,Denmark,3,0,1,2,1,3,-2,...,28,23,5,0,0,0,171,51,48,51.5
15,5,1,Japan,3,2,0,1,4,3,1,...,58,36,9,0,1,0,220,59,76,43.7
16,5,2,Spain,3,1,1,1,9,3,6,...,41,46,11,1,0,0,225,41,39,51.3
17,5,3,Germany,3,1,1,1,6,5,1,...,26,27,12,1,0,0,164,36,33,52.2
18,5,4,Costa Rica,3,1,0,2,3,11,-8,...,24,37,13,0,1,0,142,38,30,55.9
19,6,1,Morocco,3,2,1,0,4,1,3,...,96,81,19,0,0,1,369,70,85,45.2
20,6,2,Croatia,3,1,2,0,4,1,3,...,90,90,11,0,1,0,409,87,87,50.0
21,6,3,Belgium,3,1,1,1,1,2,-1,...,30,35,3,0,1,0,132,33,28,54.1
22,6,4,Canada,3,0,0,3,2,7,-5,...,33,37,8,0,0,0,145,30,21,58.8
23,7,1,Brazil,3,2,0,1,3,1,2,...,63,74,8,1,0,0,271,43,56,43.4
24,7,2,Switzerland,3,2,0,1,4,3,1,...,53,49,6,0,0,0,190,45,49,47.9
25,7,3,Cameroon,3,1,1,1,4,4,0,...,32,38,2,0,0,0,142,42,36,53.8
26,7,4,Serbia,3,0,1,2,5,8,-3,...,43,28,4,0,0,0,161,43,38,53.1
27,8,1,Portugal,3,2,0,1,6,4,2,...,55,65,14,1,0,0,256,66,53,55.5
28,8,2,Korea Republic,3,1,1,1,4,4,0,...,45,34,7,0,1,0,175,72,59,55.0
29,8,3,Uruguay,3,1,1,1,2,2,0,...,34,36,3,0,2,0,166,53,47,53.0
30,8,4,Ghana,3,1,0,2,5,7,-2,...,46,38,4,1,1,0,146,36,62,36.7

In [61]:
total_goals = df_merged['goals_scored'].sum()
average_goals = df_merged['goals_scored'].mean()
total_matches = df_merged['matches_played'].sum()

In [62]:
app_fifa_dash = dash.Dash(__name__)

app_fifa_dash.layout = html.Div([
    html.Header([
        html.Div(html.Img(src=app_fifa_dash.get_asset_url('Worldcuplogo.png'), className='header-img'), style={'flex': 'none'}),
        html.Div([
            html.H1('FIFA COMPARISON', className='header-title'),
            html.H2('Exploring players play against each other in different teams', className='header-content'),
            html.H3('Dashboard created by: Vishal Sehgal and Hieke van Heesch ', className='header-content')
        ], className='header-content')
    ], className='header'),
    html.Div([
        dcc.Tabs(id="tabs", children=[
            dcc.Tab(label='TEAM COMPARISION', children=[
                html.Div([
                    # Content for Tab 1
                    html.H3('About Teams'),
                    # ... add your components for Tab 1 ...
                ])
            ]),
            dcc.Tab(label='PLAYER COMPARISION', children=[
                html.Div([
                    # Content for Tab 2
                    html.H3('About Players
                        '),
                    # ... add your components for Tab 2 ...
                ])
            ])
        ])
    ], className='body-content')
])

In [63]:
# Run the app
if __name__ == '__main__':
    app_fifa_dash.run_server(debug=True)